<header class="m-b-30">
  <a href="/api/routes/sort-order">Sort order</a> | 
  <a href="/">Add project</a> | 
  <a href="/api/routes/slider">Slider score</a> | 
  <a href="/api/routes/projects">Projects JSON</a> | 
  <a href="/api/routes/projects">Sliders JSON</a>
</header>