<header class="m-b-30">
  <a href="/api/projects/sort-order">Change sort order</a> | 
  <a href="/">Add a project</a> | 
  <a href="https://rolandlevy.co.uk/" target="_blank">Visit website</a> | 
  <a href="/api/projects">View JSON</a>
</header>