<header class="m-b-30">
  <a href="/api/routes/sort-order">View / Edit</a> | 
  <a href="/">Add</a> | 
  <a href="/api/routes/slider-page">Sliders</a> | 
  <a href="/api/routes/solitaire-page">Solitaire</a> | 
  <a href="https://rolandlevy.co.uk/#projects" target="_blank">Live site</a>
  <!-- | 
  <a href="/api/routes/projects">Projects JSON</a> | 
  <a href="/api/routes/sliders">Sliders JSON</a>| 
  <a href="/api/routes/solitaire">Solitaire JSON</a> 
  -->
</header>