* {
  font-family: Arial, Helvetica, sans-serif;
}

h6 {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: black;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
  margin: 1rem auto 0 auto;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  overflow-y: auto;
  max-height: 450px;
  /* box-shadow: 0px 5px 20px -10px grey; */
}

.list-group > div:hover {
  background-color: #f7f7f7;
}

.list-group > div {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
}

.list-group > div:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.list-group > div:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.list-group > div > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.list-group > div > a {
  color: #000;
  text-decoration: underline;
}

.list-group > div > a:hover {
  text-decoration: none;
}

.sortable-chosen {
  background: rgba(200, 200, 200, 0.6) !important;
}

.sortable-drag {
  background: rgba(200, 200, 200) !important;
}

.update-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.handle {
  cursor: grab;
}

/*********************/
/** active checkbox **/
/*********************/

.active-state {
  width: auto;
  position: absolute;
  right: 0;
  margin-right: 0.75rem;
  cursor: pointer;
}

.active-state > input[type="checkbox"],
.active-state > .checked {
  display: none;
}
.active-state > .unchecked {
  opacity: 0.5;
}
.active-state:hover > .unchecked {
  opacity: 1;
}

.active-state > input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.active-state > input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

@media only screen and (max-width: 480px) {
  .active-state > span {
    display: none;
  }
}

.tippy-content {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.875rem;
  padding: 8px;
}