* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 30px;
  background: #ececec;
  font-size: 1rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header > a:not(:first-child) {
  margin-left: 10px;
  line-height: 1.5;
}

header > a:not(:last-child) {
  margin-right: 10px;
  line-height: 1.5;
}

form {
  width: calc(100% - 60px);
  max-width: 600px;
}

form > p {
  padding-bottom: 15px;
  margin: 20px 0;
}

input[type=text], button, textarea, select {
  padding: 5px 10px;
  font-size: 1rem;
}

input[type=text], textarea, select {
  width: calc(100% - 20px)
}

textarea {
  display: block;
}

input[type=text] + label,
textarea + label {
  position: absolute;
  text-transform: uppercase;
  transition: all 0.2s ease;
  pointer-events: none;
  color: #777;
}

input[type=text] + label {
  transform: translate(12px, -25px);
}

.category-label {
  display: inline-block;
  transform: translate(0, -5px);
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #333;
}

textarea + label {
  transform: translate(11px, -106px);
}

input[type=text]:placeholder-shown,
textarea:placeholder-shown {
  text-transform: uppercase;
}

input[type=text]:not(:placeholder-shown) + label {
  transform: translate(0, -50px);
  font-size: 0.75rem;
  color: #333;
}

textarea:not(:placeholder-shown) + label {
  transform: translate(0, -135px);
  font-size: 0.75rem;
  color: #333;
}

textarea {
  overflow-y: auto;
  resize: none;
  height: 100px;
}

button {
  cursor: pointer;
  background: #333;
  color: #fff;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-l-20 {
  margin-left: 20px;
}
