<% const title = 'Error'; %>
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', { title }); %>
  </head>
  <body>
    <main class="container">
      <h2 class="m-b-20"><%= title %></h2>
      <p><%= error %></p>
      <%- include('../partials/header'); %>
    </main>
  </body>
</html>