<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', { title: 'Add a project' }); %>
  </head>
  <body>
    <form action="../../api/projects" method="post">
    <h2>Add a project <button type="submit">+</button></h2>
      <p>
        <input id="secret" name="secret" placeholder="secret" />
        <label for="secret">secret</label>
      </p>

      <p>
        <input id="id" name="id" placeholder="id" />
        <label for="id">id</label>
      </p>

      <p>
        <input id="sortOrder" name="sortOrder" placeholder="sort order" type="number" />
        <label for="sortOrder">sort order</label>
      </p>

      <p>
        <input id="active" name="active" placeholder="active" />
        <label for="active">active</label>
      </p>

      <p>
        <input id="image" name="image" placeholder="image" />
        <label for="image">image</label>
      </p>

      <p>
        <input id="heading" name="heading" placeholder="heading" />
        <label for="heading">heading</label>
      </p>

      <p>
        <textarea id="details" name="details" placeholder="details" rows="5"></textarea>
        <label for="details">details</label>
      </p>

      <p>
        <label for="category" class="category-label">category</label>
        <select id="category" name="category">
          <option value="">-- select --</option>
          <option value="Animation">Animation</option>
          <option value="App">App</option>
          <option value="App with API">App with API</option>
          <option value="Colour Utility">Colour Utility</option>
          <option value="Game">Game</option>
          <option value="Widget">Widget</option>
        </select>
      </p>

      <p>
        <input id="languages" name="languages" placeholder="languages array" />
        <label for="languages">languages array</label>
      </p>

      <p>
        <input id="play" name="infoButtons[play]" placeholder="Play url" />
        <label for="play">play url</label>
      </p>

      <p>
        <input id="github" name="infoButtons[github]" placeholder="Github url" />
        <label for="github">github url</label>
      </p>

      <p>
        <input id="code" name="infoButtons[code]" placeholder="Code url" />
        <label for="code">code url</label>
      </p>

      <p><button type="submit">Add project</button></p>
    </form>
    <button onclick="location='/api/projects'">View JSON</button>
    <script src="../script.js"></script>
  </body>
</html>

