<% const title = 'Not Found'; %>
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', { title }); %>
  </head>
  <body>
    <main class="container">
      <h2 class="m-b-20"><%= title %></h2>
      <p>Error: the page <%= originalUrl %> was not found</p>
      <%- include('../partials/header'); %>
    </main>
  </body>
</html>