<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', { title: 'Success' }); %>
  </head>
  <body>
    <h2>Success</h2>
      <p>
        <a href="/">Add a project</a> | <a href="/api/projects">View JSON</a>
      </p>
    <script src="../script.js"></script>
  </body>
</html>
