<% const title = 'Success'; %>
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', { title }); %>
  </head>
  <body>
    <h2 class="m-b-20"><%= title %></h2>
      <%- include('../partials/header'); %>
    <script src="../script.js"></script>
  </body>
</html>
