<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', { title: 'Success' }); %>
  </head>
  <body>
    <h2>Success</h2>
      <p>
        <button onclick="location='/'">Add again</button>
        <button onclick="location='/api/projects'">See JSON</button>
      </p>
    <script src="../script.js"></script>
  </body>
</html>
